.gridContainer {
  /* background-color: rgb(196, 196, 196); */
  /* height: 700px; */
}
.gridItem {
  width: 175px;
  height: 150px;
  border-radius: 0.5em;
  background-color: azure;
  text-align: center;
  margin: 10px;
  float: left;
  color: rgb(15, 75, 10);
  font-size: 20px;
  cursor: pointer;
}
.gridItem:hover {
  color: azure;
  background-color: rgba(15, 75, 10, 0.5);
  font-size: 35px;
}
.gridIcon {
  padding-top: 5px;
  margin-top: 50px;
  color: rgb(0, 0, 100);
}
.gridLabel {
  font-size: 15px;
  font-weight: 700;
}

/* @media only screen and (max-width: 600) {

} */
