.sidebar {
  background-color: azure;
  height: 100vh;
}
.selectItem {
  color: rgb(15, 75, 10);
  /* font-weight: 700; */
  text-decoration: none;
  text-align: left;
  padding-left: 2.5em;
  /* border-radius: 0.2em; */
  margin-bottom: 0.8em;
  cursor: pointer;
}
.selectItem:hover {
  background-color: rgb(6, 6, 6);
  color: azure;
}
.selectItem:active {
  background-color: azure;
  color: greenyellow;
}
.selectItemIcon {
  font-size: 0.6em;
  margin-right: 1em;
}
